SUPABASE_URL=https://eunbgdzfclupauicnqjx.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui
EFI_CLIENT_ID=f3d9a3e99b4921ca027d5752473d530f0763f46c
EFI_CLIENT_SECRET=c4a8a472b03a0ee2c30f9bf4a881b3c6ffaa8d55
EFI_PIX_KEY=rikardomartinssantos@gmail.com
EFI_CERT_PASSWORD=
EFI_CERT_PATH=./producao-918763-somafacil.p12
BACKEND_URL=https://calculadora-pro-ten.vercel.app
