SUPABASE_URL=https://eunbgdzfclupauicnqjx.supabase.co
SUPABASE_SERVICE_KEY=sua_service_role_key_aqui
MERCADOPAGO_ACCESS_TOKEN=APP_USR-8124126164184368-040416-3c7856b4ccbdd285ce9fd54d6480ea2a-466908277
BACKEND_URL=https://calculadora-pro-ten.vercel.app
